{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<div
  class="flex flex-row items-center border-t border-b border-neutral-200 dark:border-neutral-700 py-6 my-10 author-box">
  {{ with .Site.Params.Author.image }}
  {{ $authorImage := "" }}
  {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
  {{ $authorImage = resources.GetRemote . }}
  {{ else }}
  {{ $authorImage = resources.Get . }}
  {{ end }}
  {{ if $authorImage }}
  {{ $final := $authorImage }}
  {{ if not $disableImageOptimization }}
  {{ $final = $authorImage.Fill "128x128" }}
  {{ end }}
  <img class="!mt-0 !mb-0 h-16 w-16 rounded-full me-4 object-cover" width="64" height="64"
    alt="{{ $.Site.Params.Author.name | default " Author" }}" src="{{ $final.RelPermalink }}">
  {{ end }}
  {{ end }}

  <div class="flex-grow flex flex-col justify-center">
    <div class="font-bold text-xl text-neutral-900 dark:text-neutral-100 mb-1">
      {{ .Site.Params.Author.name | default "Author" }}
    </div>
    {{ with .Site.Params.Author.bio | markdownify }}
    <div class="text-base text-neutral-700 dark:text-neutral-300 leading-relaxed">{{ . }}</div>
    {{ end }}
  </div>
</div>